.form-main-container{
  display: flex;
  justify-content: end;
  margin-left: 10px;
}

.form-main-container mat-card{
  width: 50%;
}

.form-main-container mat-form-field{
  margin-right: 1em;
}

.button-row{
  padding: 10px;
}
