/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.detail-main-container{
  width: 50%;
}

.detail-card , .button-top{
  margin: 10px 10px;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.button-add{
  padding: 10px;
}

.list-table {
  width: 90%;
}

.list-table table {
  width: 100%;
}

.list-table table a{
  color: black;
}

.form-main-container{
  display: flex;
  justify-content: end;
  margin-left: 10px;
}

.form-main-container mat-card{
  width: 60%;
}

.form-main-container mat-form-field{
  margin-right: 1em;
}

.button-row{
  padding: 10px;
}
