<div class="main-container">
  <div class="all-cards">
    <div class="customer-card">

      <mat-card>
        <h2>Orders</h2>
        <div class="customer-card-container">
          <img src="assets/img/order.jpg" alt="">
          <span>Total: {{data?.orders.total_orders}} ( <strong>{{data?.orders.total_amount | currency}}</strong> )
          </span>
        </div>
      </mat-card>
    </div>
    <div class="product-card">
      <mat-card>
        <h2>Products</h2>
        <div class="customer-card-container">
          <img src="assets/img/product.jpg" alt="">
          <span>Total: {{data?.total_products}}</span>
        </div>
      </mat-card>
    </div>
    <div class="orders-card">
      <mat-card>
        <h2>Customer</h2>
        <div class="customer-card-container">
          <img src="assets/img/customer.jpg" alt="">
          <span>Total: {{data?.total_customers}}</span>

        </div>
      </mat-card>
    </div>
  </div>

  <div class="charts">
    <div class="chart-customer">
      <app-chart-customer></app-chart-customer>
    </div>
    <div class="chart-product">
      <app-chart-product></app-chart-product>
    </div>



  </div>

</div>
