<div class="main-container">


<div class="all-cards">
  <div class="customer-card">
    <mat-card>
        <h2>Orders</h2>
      <div class="customer-card-container">
        <div class="customer-card-right">
            <img src="assets/img/order.jpg" alt="">
          <span>Total Price: <strong>$40</strong></span>
          <span>Orders: 200</span>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="product-card">
    <mat-card>Product</mat-card>
  </div>
  <div class="orders-card">
    <mat-card>Order</mat-card>
  </div>
</div>

<div class="charts">
  <h2>sadasd</h2>
</div>

</div>
